unreal/project/Intermediate
unreal/project/Saved
unreal/project/Binaries
unreal/project/*db
unreal/project/*sln
unreal/project/.vs
unreal/project/Plugins/testContentOnly
unreal/project/Plugins/testEditorMode
unreal/project/Plugins/testEditorStandaloneWindow
unreal/project/Plugins/testEditorToolbarButton
unreal/project/Plugins/MayaBridge/Binaries
unreal/project/Plugins/MayaBridge/Intermediate
unreal/project/Plugins/UtilityLibrary/Binaries
unreal/project/Plugins/UtilityLibrary/Intermediate
